* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    transition: all .2s ease-out;
}

body {
    background-color: #ececec;
}

.active {
    text-decoration: underline;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

a {
    color: black;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: white;
    margin-bottom: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.063);
    position: sticky;
    top: 0;
    z-index: 99;
}

.nav-links {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-actions {
    display: flex;
    gap: 1rem;
    align-items: center;
}

button {
    padding: 0.5rem;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(217, 217, 217);
}

.btn-light {
    background-color: rgb(241, 241, 241);
}

input {
    padding: 0.5rem 1rem;
    outline: none;
}

.auth-form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 500px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.23);
    margin: 3rem auto;
    background-color: white;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 0.5rem;
}

.auth-form-header {
    margin: 1rem 0;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

.product-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.product-card:hover .product-overlay {
    display: flex;
    translate: 0 0;
}

.product-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(1, 1, 1, 0.251);
    translate: 0 100%;
}

.product-overlay button {
    background-color: white;
    padding: 1rem;
}

.product-image {
    max-height: 200px;
    overflow: hidden;
}

.product-image img {
    width: 100%;
}

.product-card .details {
    background-color: white;
}


.hero {
    background-image: url("../public/images/eco-friendly-reusable-shopping-bag-260nw-590746682.webp");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container {
    padding: 0 5%;
}

.error-component {
    padding: 1rem;
    border: 1px solid black;
    margin-bottom: 1rem;
}

.header-cart {
    position: relative;
}

.cart-count {
    padding: 0.3rem;
    background-color: red;
    border-radius: 1rem;
    color: white;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 15px;
}